@import '../main';


.card-wrapper {

    border: 1px solid #595959;
    border-top: 5px solid rgba(131, 131, 167, 0.478);
    background-color: rgb(229, 232, 246);
    background-color: rgba(17, 153, 250, 0.05);

    height: auto;
    // max-height: 220px;
    // padding: 28.8px 0 22px 0;




    .card {
        align-items: flex-start;
        display: flex;
        // max-width:330px;
        flex-direction: column;
    }


    .card__type-wrapper{ 
        margin: .5rem 0;
        .card__type {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            max-width:100px;
            width:inherit;        
                       display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;                                                                                                                                                                                                              

            
        padding-left: 15px;
        text-transform: uppercase;
        // color: #757575;
        font-size: 1rem;
        padding-top: 12px;
        padding-bottom: 5px;
        font-weight: 700;
        color: #ef4126;
        font-size: 12.6px;
        font-weight: 500;
        line-height: 1.4;
    }
}
}

.card__image-wrapper {
    -o-object-fit: cover;
    height: 100%;
    object-fit: cover;
    width: 100%;
    
    img {
        max-width: 100%;
        width: inherit;
        height: inherit;
        @include breakpoint-down(744px){
            display: none;
        }
    }

}



.card__title-wrapper {
    // max-height: 70px;

    .card__title {
        font-size: 1rem;
        font-weight: 400;
          max-width: 300px;
          line-height: 24px;
            color: #fff;
        padding: 0 .75rem;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
              
            }
}


.card__truncated-text-wrapper {
    padding: 0 .75rem;

    .card__truncated-text {
        color: #000;
       
        font-weight: 400;
        letter-spacing: .18px;
        margin-bottom: 25px;
        color: #b9bacd;
        font-size: .875rem;
        letter-spacing: .1px;
        display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    }
}

.card-bottom{
    padding:0.5rem 1rem;
    @include flex-row-between-nowrap;
    .release-time{
        font-style: italic;
        color: #595959;
        font-size: .875rem;
    }


.link-arrow-wrapper {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Grotesque';
    font-size: 14.4px;
    font-weight: 500;
    line-height: 1;
    margin-top: auto;
    color: red;
    &::after {
        width: 31px;
        height: 24px;
    }
}
}