@import '../main';

@keyframes dot-keyframes {
    0% {
      opacity: .4;
      transform: scale(1, 1);
    }
  
    50% {
      opacity: 1;
      transform: scale(1.2, 1.2);
    }
  
    100% {
      opacity: .4;
      transform: scale(1, 1);
    }
  }
  
  .loading-dots {
    text-align: center;
    width: 100%;
    color: #A0A9BE;
    
    &--dot {
      animation: dot-keyframes 1.5s infinite ease-in-out;
      background-color:grey ;
      border-radius: 12px;
      display: inline-block;
      height: 24px;
      margin: .23rem 0.45rem;
      width: 24px;
      
      &:nth-child(2) {
        animation-delay: .5s;
      }
      
      &:nth-child(3) {
        animation-delay: 1s;
      }
    }
  }