@import '../main';




.main{
  background-color: #1c122b;
  color:#fff;
    padding:3rem 2.5rem; 
    position: relative; 
  overflow:hidden; 
  overflow-x:hidden;

    @include breakpoint-down(400px){
      padding:15px 10px;
    }
}
.container-wrapper{
  position: relative;
  overflow: hidden      ;
}

 .mobile-menu{
        position:absolute;
        background-color:$dark-blue;
        transform: translateX(100000px);
        transition: all .4s ease-in-out;
        padding:1.5rem .875rem;
        top:0px;
        right:0;
        width:100%;
        // max-width:400px;
        height:100vh;
        z-index:50000000000000;
        .mobile-menu-list-item-wrapper{
          margin: 0.7rem 0;
          margin-bottom: 2rem;
          width: 100%;
          padding: .5rem ;
          border-radius: 3px;
          background:$light-blue;
          
        }
        .mobile-menu-list-item{
          color:#fff;
          display: inline-block;
            text-transform: capitalize;
            width:100%;

            // white-space:nowrap;
        }
    }
.sections-wrapper{
 
    max-width:1444px;
    margin:0 auto;
    

    .section-title{
        text-transform: capitalize;
        font-size: 1.25rem;
        margin-bottom: .875rem;
        font-weight: 400;
        @include breakpoint-down(744px){
          font-size: 1rem;
          margin-bottom: .45rem;
        
        }

    }
    .crypto-card-wrapper{
      transition: all 700ms ease-in-out;
        @include flex-row-between-nowrap;
        overflow-x: scroll;
        scroll-behavior: smooth;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      
        &--today{
            @include flex-row-between-wrap;
            
        }
        &::-webkit-scrollbar {
          display: none;
        }
        
        
    }
}


.crypto-card-carousel{
  position:relative;

  .scrolls-wrapper{
  @include flex-row-between-nowrap;
  width:100%;
  position:absolute;
  margin:0 0px;
  top:30%;
  left:0;
}
.scroll-btn{
  display:block;
  opacity:.75;
  cursor: pointer;
  z-index:999999;
  color:rgb(144, 145, 150);
  transition: all 400ms ease-in-out;
  // @include breakpoint-down(985px){
  //   display:block;
  // }
  &:hover{
    opacity: 1;
    transform:scale(1.3);
    color:#fff;
  }
}
}
.trends{
    margin-top: 2rem;
    .coin-listing-wrapper{
      @include flex-row-between-nowrap;
    }
}

@include breakpoint-down(400px){
  .guide__nav-wrapper,.coin-listing__toogle{
    display: none;
  }
}

.guide__nav-line{
  margin-bottom: 1rem;
  @include breakpoint-down(400px){
         display: none;
     }
}
.guide__nav-list {
    @include flex-row-start-nowrap;
    white-space: nowrap;
    .active {
      color: #ffefef;
    }
    .active::after {
      content: "";
      position: absolute;
      background-color: rgb(254, 254, 254);
      bottom: -8px;
      left: 10px;
      width: calc(100% - 20px);
      height: 2px;
    }
  }
  
  .guide__nav-list:first-child {
    margin-left: -0.625rem;
  }
  .guide__nav-list-item {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 6px;
  }
  .guide__nav-list-item-link {
    text-transform: capitalize;
    font-size: 0.875rem;
    line-height: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    background: transparent;
    transition: box-shadow 0.8s ease, -ms-transform 0.1s ease, -webkit-transform 0.1s ease, transform 0.1s ease;
    position: relative;
    outline: none;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    &:hover {
      background: rgb(247, 247, 247);
    background: rgba(255, 255, 255, 0.335);
    }
    &:active {
      color: #222222;
    }
    &:focus-visible {
      transition: box-shadow 0.2s ease 0s;
      border: none;
      background: rgb(247, 247, 247);
      color: rgb(34, 34, 34);
      box-shadow: rgb(34, 34, 34) 0px 0px 0px 2px, rgba(255, 255, 255, 0.8) 0px 0px 0px 4px;
    }
    &:focus {
      transform: scale(0.96);
    }
    
  }
  .guide__nav-line {
    height: 1px;
    background-color: rgb(221, 221, 221);
    overflow: visible;
    min-width: 250px;
  }
  

 
.news-feed{
  
  width:99%;
  margin: .5%;
  flex:1 1 340px;
  padding: 16px 14px 14px 14px;
  border-radius: 4px;
  box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.05);
  background-color:rgba(17, 153,250,0.05);

}
.news-feed-wrapper Link{
  text-decoration: underline;
  cursor: pointer;
  font-size: 14px;
}

.card-listing-title{
  margin:1.5rem 0;
}

.bottom-section{
  // @include flex-row-center-wrap;
  align-items:flex-start;
  .section-currency-title{
    margin-top: 2rem;
  }
}
.secondary-input{
  color:rgb(34, 34, 34)}

.section-currency-title{
  font-weight: 600;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  text-transform: capitalize;
  line-height: 1.33;
  
}

.exchange-rate{
  font-size: 1.4rem;
  text-transform: uppercase;
}