@import '../main';



.card-listings{
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    // margin:0 auto;

    
    @include breakpoint-down(1128px){
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
  }
    
    @include breakpoint-down(768px){
        display: grid;
        grid-gap: 16px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
   }
    @include breakpoint-down(544px){
        display: grid;
        grid-gap: 16px;
        grid-template-columns:1fr;
        grid-template-rows: repeat(2, 1fr);
   }

}

.card-listing-title{
    font-size: 2rem;
    font-weight:400;
    text-transform: capitalize;
    margin-bottom: 2.2rem ;
    @include breakpoint-down(744px){
        font-size: 1.2rem;
        margin-bottom: 1.45rem;
    }
}
