*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
ul,li{
    list-style-type: none;
    padding:0;
}
button{
    background-color: none;
    border:none;
}